.class0{
	width: 750px;
	height:1000px;
	//position:absolute;/*! left:35%; */
	//background-color: #e9f9f9;
	box-shadow: 0px 10px 20px 1px;
	margin: auto 
}
 div:hover{
	cursor:auto;
	border: 10;
	border-style: solid;
	border-color:captiontext;
	background-color: lightwhite;
} 
.class1{
	width: 700px;
	height: 102px;
	transform: translate(20px, 6px);
}
#a1{
	transform: translate(20px, 0px);
	font-weight: bold;
	font-size:20px;
	
}
#a2{
	transform: translate(550px,-35px );
	width: 200px;
}
#a4{
	transform: translate(20px, -80px);
}
#a5{
	transform: translate(450px, -110px);
	width: 200px
}
#a3{
	transform: translate(600px, 1px);
}
.class2{
	width: 350px;
	height: 150px;
	transform: translate(40px, 50px);
}
.class3{
	width: 350px;
	height: 450px;
	transform: translate(40px, 100px);
}
.class4{
	width: 150px;
	//height: 150px;
	transform: translate(547px, -550px);
}
.class5{
	width: 150px;
	height: 260px;
	transform: translate(547px, -520px);
}
.class6{
	width: 150px;
	height: 300px;
	transform: translate(547px, -520px);
}
#c1{
	background-color: #f0f0f0;
	font-weight: bold;
}
#c2{
	font-weight: bold;
}
#e2{
	font-weight: bold;
}
#a3{
	transform: translate(660px, -73px);
}
#a6{
	transform: translate(660px, -145px);
}
#xian{
	width: 700px;
	height: 3px;
	background-color: #f0f0f0;
	transform: translate(30px, -1390px);
}
#d1{
	border-radius: 50%;
}