body>div{
	
	width: 47em;
	height:65em;
	box-shadow: 0em 1em 2em 1em #9B9B9B;
	margin: auto ;
}
header{
	float:left;
	height: 6em;
	margin: 1em;
	width:44.5em;
}
b{
	display: block;
	float: left;
	margin-left: 2em;
	font-weight: bold;
	font-size:1.5em;
	color: black;
		margin-top: 0.7em;
}
header>span{
	float: right;
	margin-right:2em;
	margin-top: 2em;
	color: gray;
}
strong{
	display: block;
	float: left;
	margin-left: -3em;
	margin-top:6em;
		color: gray;
	font-style: normal;
}
#email{
	float: right;
	margin-right:-7.9em;
	margin-top: 6em;
	color: gray;
}
bodyLeft{
	float:left;
	width: 22em;
	height: 15em;
	margin-left:4em;
	margin-top: 5em
}
footLeft{
	float:left;
	width: 22em;
	height: 30em;
	margin-left:4em;
	margin-top: -3em
}
bodyright{
	width: 10em;
	height:10em;
	margin-right: 4em;
	margin-top: -14em;
	float:right;
}
footRightT{
	width: 10em;
	height: 17em;
	float:right;
	margin-right: 4em;
	margin-top: -3em;
}
footRightB{
	width: 10em;
	height: 20em;
	float:right;
	margin-right: 4em;
	margin-top:1em;;
}
p{
	display: block;
	background-color: #f0f0f0;
	font-weight: bold;
}
em{
	height: 2em;
	display: block;
	font-weight: bold;
	font-style: normal;
}
i{
	height: 3em;
	display: block;
	font-style: normal;
	color: gray;
}
.xian{
	width: 40em;
	height: 3px;
	background-color:#f0f0f0;
	margin-top:-53em;
margin-left:3.7em;
	float: left;
}
.photo{
	border-radius: 50%;
	width: 9.4em;
	height: 9.4em;
}
img{
	float: right;
	margin-right:0em;
	margin-top: -0.2em;
		width: 1.25em;
	height: 1.25em;
} 
 img{
	float: right;
	margin-right:0em;
	margin-top: -0.2em;
		width: 1.25em;
	height: 1.25em;
}
.photo:hover{
transform: scale(2,2);
}